  
<div class="row">
  <div class="col-sm-4">
    <% if @user.avator? %>
      <%= image_tag(@user.avator.url, alt: "profile image", class: "img-responsive center-block") %>
    <% else %>
      <%= image_tag("blank-profile.png", alt: "profile image", class: "img-responsive center-block") %>
    <% end %>
  </div>

  <div class="col-sm-8">
    <h1><%= @user.name %></h1>
    <h4><%= @user.email %></h4>
    <h5><%= @user.intro %></h5>

    <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" if current_user.id == @user.id %>
  </div>
</div>

<hr>

<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @commented_restaurants.uniq.count %> Commented Restaurants</h3>
    </div>
    <div class="panel-body">
      <% @commented_restaurants.uniq.each do |restaurant| %>
        <div class="my-restaurant col-sm-2">
          <%= link_to restaurant_path(restaurant), class:"text-center" do %>
            <%= image_tag("R.png", alt: "commented restaurant", class: "img-responsive center-block") %>
            <%= restaurant.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @favorited_restaurants.uniq.count %> Favorited Restaurants</h3>
    </div>
    <div class="panel-body">
      <% @favorited_restaurants.uniq.each do |restaurant| %>
        <div class="my-restaurant col-sm-2">
          <%= link_to restaurant_path(restaurant), class:"text-center" do %>
            <%= image_tag("R.png", alt: "favorited restaurant", class: "img-responsive center-block") %>
            <%= restaurant.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>