<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "首頁", root_path %></li>
  <li role="presentation"><%= link_to "最新動態", feeds_restaurants_path %></li>
  <li role="presentation"><%= link_to "美食達人", users_path %></li>
</ul>

<ul class="nav nav-pills nav-pills-center">
  <% if @categories.include?(@category) %>
    <li role="presentation" ><%= link_to "全部餐廳", root_path %></li>
    <% @categories.each do |category| %>
      <li role="presentation" class="<%= "active" if @category==category %>" >
        <%= link_to category.name, category_path(category) %>
      </li>
    <% end %>
  <% else %>
    <li role="presentation" class="active" ><%= link_to "全部餐廳", root_path %></li>
    <% @categories.each do |category| %>
      <li role="presentation" ><%= link_to category.name, category_path(category) %></li>
    <% end %>
  <% end %>
</ul>

<% @restaurants.each do |restaurant| %>
  <div class="col-sm-6 col-md-4">
    <div class="restaurant-box">
      <%= image_tag("381x254.png", alt: "example image", class: "img-responsive center-block") %>
      <div class="caption">
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <p class="label label-default"><%= restaurant.category.name %><p>
        <p><%= truncate(restaurant.description, length: 80) %></p>
        <!--p>地址：<%= restaurant.address %></p-->
        <!--p>電話：<%= restaurant.tel %></p-->
        <!--p>營業時間：<%= restaurant.opening_hours %></p-->
        <p>
          <%= render partial: "shared/favorite", locals: {object: restaurant} %>
          <%= render partial: "shared/like", locals: {object: restaurant} %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= paginate @restaurants %>
</div>