
<%= form_for [:admin, @restaurant], html: {class: "form-group col-lg-6 col-lg-offset-3 row"} do |f| %>
  
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select(
    :category_id,
    Category.all,
    :id,
    :name,
    {prompt: "請選擇"},
    {class: "form-control"}
  ) %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name, :class => "form-control" %>

  <%= f.label :tel, "Tel" %>
  <%= f.text_field :tel, :class => "form-control" %>

  <%= f.label :address, "Address" %>
  <%= f.text_field :address, :class => "form-control" %>

  <%= f.label :opening_hours, "Opening Hours" %>
  <%= f.text_field :opening_hours, :class => "form-control" %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description, :class => "form-control" %>

  <%= f.label :image, "Photo" %>
  <%= image_tag @restaurant.image, width: '300px' if @restaurant.image? %>
  <%= f.file_field :image %>

  <button type="submit" class="btn btn-primary col-lg-12">Update</button>
  <%= link_to 'Back', admin_restaurants_path, :class => "btn btn-link col-lg-12" %>

  <% if @restaurant.errors.any? %>
    <h2>Tips:</h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
<% end %>

