<h1>Restaurant CMS</h1>

<table>
  <thead>
    <th>餐廳名稱</th>
    <th>功能</th>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= link_to "Show", admin_restaurant_path(restaurant) %></td>
        <td><%= link_to "Edit", edit_admin_restaurant_path(restaurant) %></td>
        <td><%= link_to "Delete", admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @restaurants %>

<%= link_to 'New', new_admin_restaurant_path %>
