<h2>餐廳內容管理</h2>

<div class=" row col-lg-12">
  <%= link_to 'Restaurant', admin_restaurants_path %> |
  <%= link_to 'Categories', admin_categories_path %>
</div>

<%= link_to 'New Restaurant', new_admin_restaurant_path, :class => "btn btn-primary col-lg-2" %>

<table class="table table-hover">
  <thead>
    <th>#</th>
    <th>分類</th>
    <th>餐廳名稱</th>
    <!--th>電話</th-->
    <!--th>地址</th-->
    <th>功能</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.id %></td>
        <td>[ <%= restaurant.category.name %> ]</td>
        <td><%= restaurant.name %></td>        
        <!--td><%= restaurant.tel %></td-->
        <!--td><%= restaurant.address %></td-->
        <td><%= link_to "Show", admin_restaurant_path(restaurant) %></td>
        <td><%= link_to "Edit", edit_admin_restaurant_path(restaurant) %></td>
        <td><%= link_to "Delete", admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @restaurants, :class => "row col-lg-12" %>
</div>


