<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("600x400.png", alt: "example image", class: "img-responsive center-block") %>
      <div class="carousel-caption">
        Cras ac neque lacinia, ornare eros vitae.
      </div>
    </div>
    <div class="item">
      <%= image_tag("600x400.png", alt: "example image", class: "img-responsive center-block") %>
      <div class="carousel-caption">
        Sed elit metus, cursus pulvinar dui.
      </div>
    </div>
    <div class="item">
      <%= image_tag("600x400.png", alt: "example image", class: "img-responsive center-block") %>
      <div class="carousel-caption">
        Aenean nibh sem, ultricies vitae varius.
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @restaurants.each do |restaurant| %>
  <% if (@counter % 4) == 0 %>
    <div class="row">
  <% end -%>
  <div class="col-sm-3">
    <div class="thumbnail">
      <%= image_tag("242x200.png", alt: "example image") %>
      <div class="caption">
        <h3><%= restaurant.name %></h3>
        <p><%= restaurant.description %></p>
        <p>地址：<%= restaurant.address %></p>
        <p>電話：<%= restaurant.tel %></p>
        <p>營業時間：<%= restaurant.opening_hours %></p>
        <!--p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p-->
        <% @counter = @counter + 1 %>
      </div>
    </div>
  </div>
  <% if (@counter % 4) == 0 %>
    </div>
  <% end -%>
<% end %>

<%= paginate @restaurants %>