<h2><%= @restaurant.name %></h2>
<h4>[ <%= @restaurant.category.name %> ]</h4>
<ul>
  <li>地址: <%= @restaurant.address %></li>
  <li>電話: <%= @restaurant.tel %></li>
  <li>營業時間: <%= @restaurant.opening_hours %></li>
  <li>簡介: <%= @restaurant.description %></li>
  <%= image_tag @restaurant.image, width: '600px' %>
</ul>

<%= link_to 'Back to index', restaurants_path %>